
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@600;700&family=Poppins&family=Roboto:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

.icons {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  /* background-color: orange; */
  background-image: url("./icons/new/O7OFWS0.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.icons, .nav {
  list-style: none;
}

.fabars-aside {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.fa-bars {
  color: #664200;
  padding: 5%;
}

.nav-bar {
  display: none;
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: orange;
  animation: slideIn 0.5s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translate(-100%, -100%);
  }
  to {
    transform: translate(0, 0);
  }
}


.logo-close {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  margin-top: 5%;
  margin-left: 5%;
  padding-right: 10px;
}

.nav-logo {
  font-size: xx-large;
  font-style: italic;
  font-family: cursive;
}

.logo-close a {
  text-decoration: none;
  color: white;
}

.fa-xmark {
  color: white;
  font-size: larger;
}

.fa-xmark, .fa-bars:hover {
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: larger;
}

.nav {
  margin-top: 10%;
  margin-left: 5%;
}

.nav li {
  padding: 10px;
  border-bottom: 1px solid rgb(165, 165, 165);
}

.nav li:hover {
  cursor: pointer;
}

.icons {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: absolute;
  margin-bottom: 2%;
  bottom: 0;
}

/* Home */

.home-page {
  /* background-image: url("./icons/images/illustration-header-mobile.png");
  background-repeat: no-repeat;
  background-size: 200px;
  background-position-x: right; */
  /* height: 100%; */
  color: white;
  font-size: larger;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 0 10%;
}

.home-page h1, .outro h1 {
  font-size: 50px;
  font-weight: 600;
  font-family: 'poppins';
  background-image: linear-gradient(to right, #12674A, #63f7a0);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.home-page p, .outro p {
  color: #12674A;
  font-size: smaller;
  font-family: 'poppins';
  
}

.home-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  margin-top: 2%;
  padding: 0 8px;
  font-family: poppins;
  font-weight: bold;
}

.home-nav li {
  border: none; 
}

.home-nav li a {
  color: #12674A;
}

.home-btn {
  width: 100px;
}

/* About Page */

.outro {
  padding: 0 10%;
}

.aboutme-btn {
  border: none;
  border-radius: 5px;
  background-color: #12674A;
  padding: 2%;
  margin-top: 5%;
  color: white;
  font-size: larger;
}

.aboutme-btn a {
  text-decoration: none;
  color: white;
}

.aboutme-btn:hover {
  cursor: pointer;
  background-color: #058139;
}

.language {
  margin-top: 10%;
  padding: 0 3%;
  display: flex;
  justify-content: space-between;
  font-family: poppins;
  /* background-color: rgba(0, 0, 0, 0.13); */
}

.language ul {
  list-style: none;
}

.about-title, .frameworks-title, .skills-title {
  font-size: larger;
  font-weight: bolder;
  color: #12674A;
  margin-bottom: 15%;
}

.lang-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.li-itm {
  color: #1c9b71;
}

/* Contact Page */

.contact-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-form-container h3 {
  font-family: 'poppins';
  padding: 5%;
  text-align: center;
  color: #12674A;
} 

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.contact-form input {
  background-color: rgba(255, 255, 255, 0.24);
  border: 1px solid rgb(184, 183, 183);
  border-radius: 2px;
  padding: 7px;
  font-size: large;
  font-family: poppins;
  width: 100%;
}

.contact-form textarea {
  background-color: rgba(255, 255, 255, 0.24);
  margin-top: 5px;
  border: 1px solid rgb(184, 183, 183);
  border-radius: 2px;
  padding: 7px;
  font-family: poppins;
  font-size: large;
  width: 100%;
}

.submit-btn {
  padding: 4px 8px;
}

#contact,
#projects,
#about {
  display: none;
}

.icon-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-diagram-project, .fa-address-card, .fa-address-book {
  font-size: small;
}

.fa-arrow-left {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  padding: 5%;
}

.fa-arrow-left:hover {
  cursor: pointer;
}

.prj-cont {
  border: 1px solid red;
}

.proj-img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.fa-arrows-carousel {
  text-align: center;
  margin-top: 20px;
}

.next {
  font-size: xx-large;
}

.next:hover {
  cursor: pointer;
}

.carosel-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.work {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(8, 8, 8, 0.096);
  padding: 2%;
  border-radius: 10px;
  margin-top: 5%;
}

.proj-desc {
  width: 250px;
  height: 100px;
  text-align: center;
}

.proj-desc, .proj-title {
  font-family: poppins;
}

.see-prjct {
  display: flex;
  gap: 5px;
}

.see-github, .see-live {
  font-size: small;
  width: 100px;
}

.aside-desk {
  display: none;
}

.greet {
  color: #011f0d;
}

/* .......desktop version...... */

@media (min-width: 768px) {

  .fa-diagram-project, .fa-address-card, .fa-address-book {
    font-size: x-small;
    margin-left: 5%;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
/* 
  #main-contents {
    border: 1px solid  red;
  } */

  #btn-menu, .fa-xmark {
    display: none;
  }

  .icons {
    width: auto;
    margin-left: 1%;
  }

  #btn-menu {
    display: none;
  }

  .logo-close i {
    display: none;
  }

  .nav-bar {
    display: none;
  }

  .aside-desk {
    display: flex;
    width: 250px;
    flex-direction: column;
    gap: 10%;
    height: 100%;
    background-color: rgba(252, 250, 247, 0.048);
  }

  .nav-link {
    
    transition: 0.5s ease-in;
  }

  .nav li {
    border-bottom: 1px solid #058139;
  }

  .fa-arrow-left {
    display: none;
  }

  #arrow-left {
    display: none;
  }

  .nav-link:hover  {
    background-color: #058139;
    padding-left: 0;
    font-size: x-large;
  }

  .nav-logo {
    transition: 0.5s ease-in;
  }

  .nav-logo:hover  {
    color: #058139;
  }

  #home {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  #main-contents {
    margin-left: 0;
    padding-left: 0;
  }
  
  .home-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5%;
    max-width: 50%;
    padding: 0;
  }

  .home-page {
    padding: 0;
  }

  .icon-btn {
    width: 120px;
  }

  .fa-bars {
    display: none;
  }

  .description {
    max-width: 700px;
  }

  /* Projects */

  #projects {
    /* width: 50%; */
    margin-top: 10%;
    margin-left: 0;
  }

  .carosel-container {
    
    padding: 0;
    gap: 20px;
    /* width: 50%; */
  }

  /* About */

  .outro {
    padding: 0;
    width: 60%;
  }

  .language {
    padding: 0;
    width: 70%;
  }

  .about-me {
    margin-top: 10%;
    margin-left: 5%;
  }

  /* Form */

  .banner {
    width: 100%;
    height: 400px;
    background: linear-gradient(to right, #0ef, #c800ff);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 60% 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  .banner h3 {
    max-width: 200px;
    text-align: end;
    color: white;
  }

  .form-wrapper {
    margin-top: 10%;
    position: relative;
    width: 600px;
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    border: 3px solid #00ffff;
    box-shadow: 0 0 50px 0 #00a6bc;
  }
  
  .contact-form {
    width: 80%;
    margin-left: 10px;
  }

  ::-webkit-input-placeholder {
    color: #eee;
  }

  .contact-form input, .contact-form textarea {
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: none;
    color: #0ef;
  }

  .submit-btn {
    width: 100%;
    background: linear-gradient(45deg, #0ef, #c800ff);
    border-radius: 25px;
  }
}


@media (min-width: 850px) {
  #main-contents {
    margin-left: 5%;
  }
}

@media (min-width: 950px) {
  #main-contents {
    margin-left: 10%;
  }
}

@media (min-width: 1020px) {
  #main-contents {
    margin-left: 13%;
  }
}