
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@600;700&family=Poppins&family=Roboto:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
  min-width: 375px;
  width: 100vw;
}

.nav-bar {
  background-color: #3e3c3c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 10%;
  height: 72px;
}

#header-name {
  margin-right: auto;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: white;
}

#btn-menu {
  font-size: 18px;
  padding-left: 2%;
}

.greet {
  font-size: 56px;
  font-family: 'Crete Round', serif;
  color: #ff6b00;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.37px;
}

.Software {
  color: #fff5e1;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  line-height: 64px;
}

.description {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  color: #fff5e1;
  line-height: 24px;
}

.container {
  width: auto;
  height: 590px;
  margin-bottom: 70px;
}

.hero {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #1c1a19;
  background-image: url("icons/images/illustration-header-mobile.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-left: 10%;
  height: 590px;
}

.text {
  margin-top: 0;
  max-width: fit-content;
  padding-right: 10%;
  padding-top: 0;
}

.icons {
  display: flex;
  align-items: center;
}

.icons img {
  width: 20px;
  color: white;
  padding: 5px;
}

.icons li {
  list-style: none;
}

/* work and about me section */

.mult-post {
  grid-row: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}

.work {
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.work-container {
  display: grid;
  gap: 24px;
  padding: 50px 0;
}

.multi-post img {
  width: 100%;
  height: auto;
}

.footer-icons li {
  color: black;
  padding: 8px;
}

.language ul {
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

.professional-list li {
  border: 1px solid #8993a4;
  padding: 10px 12px;
  font-family: 'Inter', sans-serif;
  background: rgba(255, 255, 255, 0.24);
  color: white;
}

.multi-post > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: 'Inter', sans-serif;
}

.multi-post > div > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #091e42;
}

.multi-post > div > ul {
  display: flex;
  gap: 12px;
  list-style: none;
}

.multi-post > div > ul > li {
  border: 1px solid #8993a4;
  padding: 10px;
}

.multi-btn {
  padding: 12px;
  border: none;
  background-color: #ff6b00;
  font-style: inter;
  color: white;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  width: max-content;
}

.professional-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 12px;
  list-style: none;
  padding: 12px;
  margin-left: 0;
}

.multi-header {
  font-family: 'Crete Round', serif;
  font-weight: 400;
  min-width: 327px;
  max-width: fit-content;
  font-size: 40px;
  color: #1c1a19;
  line-height: 52px;
  padding-top: 15px;
  padding-bottom: 35px;
  border-bottom: 2px solid #3e3c3c;
}

#multi-head-two {
  font-family: 'Crete Round', serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
  color: #091e42;
}

.multi-paragraph-card {
  font-family: 'Inter', sans-serif;
  width: 300px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  padding-left: 5%;
  padding-right: 10%;
}

#under-line {
  max-width: 375px;
}

.prof-header {
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  padding-left: 5%;
  margin-top: 70px;
}

/* grid positioning */
.professional-art {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: black;
  background-image: url("icons/images/Img\ Placeholder2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.prof-btn {
  text-align: center;
  margin-left: 0%;
  padding: 12px;
  border: none;
  background-color: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: white;
}

/* about me section */
.about-me {
  color: white;
  background-color: #1c1a19;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 0;
  background-image: url("icons/images/aboutme.png");
  background-repeat: no-repeat;
  background-position: right 380px;
}

.outro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 120px;
}

.language {
  margin-top: 120px;
  padding-bottom: 120px;
  width: 329px;
  text-align: center;
  border-top: 2px solid #3e3c3c;
  padding-top: 20px;
  padding-right: 10%;
}

.about-icon {
  list-style-image: url(icons/rhombus.png);
  height: 55px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.frameworks-icon {
  list-style-image: url(icons/Rectangle\ 56.png);
  height: 55px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.skills {
  list-style-image: url(icons/circle.png);
  height: 55px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.about-head {
  font-family: 'Crete Round', serif;
  width: 327px;
  font-size: 72px;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  color: #ff6b00;
}

.about-para {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: white;
}

.aboutme-btn {
  background-color: #ff6b00;
  padding: 12px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: white;
  border: none;
  margin-top: 20px;
}

/* contact section */

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-section h3 {
  width: 327px;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin-left: auto;
  margin-right: auto;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  gap: 30px;
  border: none;
  border-bottom: 1px solid #3e3c3c;
}

.form-input {
  padding: 20px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  width: 100%;
  font-family: 'Inter', sans-serif;
}

.form-textarea {
  background-color: #fbf8f7;
  border: none;
}

.submit-btn {
  background-color: #ff6b00;
  border: none;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  padding: 12px;
}

footer {
  margin-bottom: 100px;
}

.footer-icons {
  list-style: none;
  display: flex;
  align-items: center;
  color: black;
  padding: 8px;
}

.footer-line hr {
  width: 134px;
  height: 2px;
  border-radius: 10px;
  background-color: hsl(212, 40%, 8%);
  padding-bottom: 5px;
  margin: auto;
}

button:hover {
  background-color: #8993a4;
}

button:active {
  background-color: #e05304;
}

.nav-link {
  display: none;
}

.multi-header1 {
  display: none;
}

.pro-head {
  display: none;
}

.about-me img {
  display: none;
}

/* desktop version */

@media (min-width: 768px) {
  .container {
    width: 100vw;
    height: 100vh;
    margin: 0;
  }

  #btn-menu {
    display: none;
  }

  .nav-link {
    display: flex;
    padding: 20px;
    text-decoration: none;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
  }

  .hero {
    background-color: #1c1a19;
    background-image: url("icons/images/Illustration-desktopV.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 360px;
    padding-left: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
    height: calc(100% - 72px);
  }

  .description {
    max-width: 768px;
  }

  .icons {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    gap: 15px;
  }

  .icons img {
    width: 30px;
    height: 30px;
  }

  .work-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px;
    gap: 50px;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    margin: 0;
  }

  .multi-header-container {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0 100px;
  }

  .line {
    height: 2px;
    background-color: #212121;
    flex: 1 1 auto;
  }

  .multi-header {
    border: none;
  }

  .multi-post {
    grid-column: 1/4;
    gap: 50px;
  }

  .work-container > div {
    display: flex;
    justify-content: flex-end;
  }

  .art1 {
    background-image: url("icons/images/desktop/Img\ Placeholder1.png");
    border: 1px solid #091e42;
    height: 435px;
  }

  .art2,
  .art5 {
    background-image: url("icons/images/desktop/Img\ Placeholder2.png");
  }

  .art3,
  .art6 {
    background-image: url("icons/images/desktop/Img\ Placeholder3.png");
    height: 435px;
  }

  .art1 * {
    display: none;
  }

  .professional-art > button {
    display: none;
  }

  .art1 > button {
    display: block;
  }

  .prof-header {
    display: none;
  }

  .pro-head {
    display: block;
    padding: 10px;
    height: 81px;
    width: 337px;
    left: 16px;
    top: 8px;
    font-family: 'Crete Round', serif;
    font-weight: 400;
    color: #fff;
  }

  /* about me */

  .about-me {
    background-image: none;
    padding-right: 0;
    padding-left: 5%;
  }

  .about-me img {
    display: block;
    width: auto;
    height: 400px;
    padding-top: 50px;
  }

  .about {
    display: flex;
    gap: 100px;
  }

  .language {
    display: flex;
    gap: 0;
    width: auto;
    padding-left: 0;
    justify-content: space-around;
    margin-right: 10%;
  }

  .contact-form-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 200px;
    gap: 50px;
  }

  .contact-form-container h3 {
    margin: 0;
    text-align: left;
    font-size: 40px;
  }

  .contact-form {
    padding: 0;
    flex: 1 1 auto;
    border: none;
    align-items: flex-start;
  }

  .footer-line {
    display: none;
  }
}
